@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::placeholder {
  @apply px-2 text-sm text-[#B5B5B5];
}

.gradient {
  background-color: #f5f6f8;
}

.toggle {
  position: fixed;
  width: 0%;
  overflow: hidden;
  background-color: #000000fc;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 10;
  margin-top: 68px;
}

.toggle a {
  display: block;
  margin: 30px 0;
  text-align: center;
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: #227efd;
  text-transform: capitalize;
  font-size: 18px;
}


/* accordion  */
.content {
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

input[type="radio"] {
  display: none;
}

.accordion input[type="radio"]:checked + label + .content {
  max-width: 630px;
  padding: 0px 10px 100px;
  font-size: 13px;
}

.accordion-container {
  display: none;
}
.accordion .icon {
  transition: transform 0.3s;
}

.accordion input[type="radio"] {
  display: none;
}

.accordion input[type="radio"]:checked ~ label .icon .fa-plus {
  display: none;
}

.accordion input[type="radio"]:checked ~ label .icon .fa-minus {
  display: inline;
}

.accordion label .icon .fa-plus {
  display: inline;
}

.accordion label .icon .fa-minus {
  display: none;
}

.accordion input[type="radio"]:checked ~ .content {
  max-height: 130px;
}

@media screen and (max-width: 1100px) {
  .toggle a {
    font-size: 25px;
    /* height: 13%; */
    padding: 20px;
  }
  .show-nav {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .accordion-container {
    display: block;
  }
  .show-nav {
    width: 70%;
  }
  .toggle a {
    font-size: 20px;
    height: 11%;
  }
}

@media screen and (min-width: 1000px) {
  .slides,
  .dropdown {
    display: none;
  }
}
